#container {
  padding: 20px;
}

h3 {
  color: var(--ion-color-primary);
  margin: 20px 0 10px 0;
}

.foto-preview {
  height: 40dvh;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  background-color: hsla(0, 0%, 0%, 0.6);
}

ion-button {
  margin: 10px 0;

  &[disabled] {
    opacity: 0.5;
  }
}
