<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- Botón para tomar foto --> 
    <ion-button expand="full" (click)="tomarFoto()"> 
      Tomar Foto 
    </ion-button> 
 
    <!-- Campo descripción --> 
    <ion-item> 
      <ion-label position="floating">Descripción</ion-label> 
      <ion-textarea [(ngModel)]="descripcion"></ion-textarea> 
    </ion-item> 
 
    <!-- Vista previa de la foto --> 
    <ion-img class="foto-preview" [src]="foto" *ngIf="foto"></ion-img> 
 
    <!-- Botón guardar (por ahora solo console.log) --> 
    <ion-button  
      expand="full"  
      color="success"  
      (click)="guardarRegistro()" 
      [disabled]="!foto || !descripcion"> 
      Guardar Registro 
    </ion-button> 
 


  </div>
</ion-content>
